

  .grid-container {
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
  }
  
  
.grid-item{
   margin-top: 20px;
   border: 15px solid white
  }
  
.gallery{
    background-color: rgb(124, 148, 117);
}